<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

  <!-- Base Module Properties -->
  <id>nursing-activity</id>
  <name>Nursing Activity Module</name>
  <version>0.1-SNAPSHOT</version>
  <package>org.openmrs.module.nursingactivity</package>
  <author>Thoughtworks</author>
  <description>
    This module supports nurse's activities for in-patients
  </description>

  <activator>org.openmrs.module.nursingactivity.NursingActivityModuleActivator</activator>

  <require_version>2.1.1</require_version>
  <require_modules>
    <require_module>org.openmrs.module.webservices.rest</require_module>
  </require_modules>


  <mappingFiles>
    NursingActivityType.hbm.xml
    NursingActivitySchedule.hbm.xml
  </mappingFiles>

  <messages>
    <lang>en</lang>
    <file>messages.properties</file>
  </messages>

</module>

